.sidebar{
    position: fixed;
    width: 420px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 200;
}
.sidebar1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 28, 28);
    height: 110px;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.sidebar1 img{
    height: 24px;
    width: 24px;
    
}
.sidebar-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.spotify-div, .home-div{
    color: white;
    font-family: Roboto, Arial;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}
.spotify-div:hover ,
.home-div:hover {
    text-decoration: underline;
}
.search-div{
    color: gray;
    font-family: Roboto, Arial;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}
.search-div:hover {
    color: white;
    text-decoration: underline;
}
.sidebar2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 28, 28);
    height: 340px;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.library-icon{
    height: 40px;
    width: 34px;
    margin-left: 20px;
}
.row1{
    display: flex;
    color: gray;
    font-family: Roboto, Arial;
}
.your-library{
    position: relative;
    margin-left: 4px;
    margin-top: 10px;
    font-weight: 700;
    cursor: pointer;
}
.your-library .tooltip,
.add-button-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.your-library:hover .tooltip,
.add-button-container:hover .tooltip{
    color: white;
    opacity: 1;
    right: -50px;
}
.add-button-container{
    position: relative;
}

.add-icon{
    margin-top: 4px;
    margin-left: 200px;
    font-size: 24px;
    background-color: rgb(30, 28, 28);
    color: gray;
    height: 34px;
    width: 34px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.add-icon:hover{
background-color: rgb(53, 53, 53);;
}
.row2{
    height: 130px;
    width:380px ;
    background-color: rgb(49, 48, 48);
    margin-left: 12px;
    border-radius: 10px;
    margin-top: 16px;
}
.row3{
    height: 130px;
    width:380px ;
    background-color: rgb(49, 48, 48);
    margin-left: 12px;
    border-radius: 10px;
    margin-top: 16px;
}

.playlist-h1{
    color: white;
    margin-left: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.playlist-h2{
    color: white;
    margin-left: 14px;
    font-size: 14px;
    margin-top: 10px;
}
.create-playlist-button, 
.browse-podcasts-button{
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 8px 10px 8px 10px;
    border-radius: 20px;
    border: none;
    margin-left: 16px;
    transition: 0.2s;
}
.create-playlist-button:hover,
.browse-podcasts-button:hover{
    padding:10px 12px 10px 12px ;
    color: black;
    background-color: white;
}